<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm px-10 py-3">

  <!-- Collapse Bar Button -->
  <button class="navbar-toggler ml-auto mb-2"
          type="button"
          (click)="isCollapsed = !isCollapsed">
    <span class="toggler-icon-container d-flex px-1 py-1">
      <span class="navbar-toggler-icon align-self-center"></span>
    </span>
  </button>

  <!-- Nav Content -->
  <div class="collapse navbar-collapse"
       id="nav-content"
       [collapse]="isCollapsed">

    <!-- Menu -->
    <ul class="navbar-nav ml-sm-auto my-sm-1 d-flex flex-row justify-content-end">

      <li *ngFor="let item of menu"
          class="nav-item"
          [ngClass]="(item.label === 'or') ? 'px-1': 'px-2'">

        <div [ngSwitch]="item.type">

          <span *ngSwitchCase="'span'">{{ item.label }}</span>

          <button *ngSwitchCase="'button'"
                  class="btn"
                  [ngClass]="(item.class === 'outline') ? 'btn-outline-primary': 'btn-primary'">{{ item.label }}</button>

          <span *ngSwitchCase="'custom'"
                class="toggler-icon-container d-flex px-1 py-1">
            <span class="navbar-toggler-icon justify-content-center"></span>
          </span>
        </div>

      </li>

    </ul>

  </div><!-- END .collapse -->
</nav>

