@import 'main';


.toggler {
  background-color: #f0f5f9;
  border-color: #f0f5f9 !important;
  font-size: 9px !important;
  border-radius: 20px;
}

.navbar-toggler {
  @extend .toggler;

  width: 23px;
  padding: 4px;
  margin: 8px 0;

  &:focus { outline: unset; }
}

li {
  a.nav-link { font-size: 12px; }

  span { font-size: 9px; }

  .toggler-icon-container {
    @extend .toggler;

    position: relative;
    top: 4px;
    cursor: pointer;
  }
}


@media screen and (max-width: 768px) {
  ul {
    margin-right: -8px;
    margin-bottom: 7px !important;

    li:last-child { display: none; }

    li:nth-child(3) { margin-right: 0 !important; }
  }
}

button {
  font-family: $font-nunito-bold;;
  font-size: 6px !important;

  &:first-child { border-color: $gray; }
}
