@import 'main';


.toggler {
  background-color: #f0f5f9;
  border-color: #f0f5f9 !important;
  font-size: 1.1em !important;
  border-radius: 50%;
  height: 37px;
}

.navbar-toggler {
  border: unset;

  &:focus { outline: unset; }

  .toggler-icon-container {
    width: 35px;

    .navbar-toggler-icon { font-size: 1.3em; }
  }
}

li {
  a.nav-link { font-size: 12px; }

  span { font-size: 0.7em; }

  .toggler-icon-container { width: 37px; }
}

.toggler-icon-container {
  @extend .toggler;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    position: relative;
    top: 5px;
  }

  ul {
    margin-right: 3px;

    li:last-child { display: none; }

    li:nth-child(3) { margin-right: 0 !important; }
  }
}

button {
  font-family: $font-nunito-bold;;
  font-size: 0.6em !important;

  &:first-child { border-color: $gray; }
}
