<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm px-10 py-1">

  <!-- Collapse Bar Button -->
  <button class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#nav-content">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Nav Content -->
  <div class="collapse navbar-collapse"
       id="nav-content">

    <!-- Menu -->
    <ul class="navbar-nav ml-auto my-1">

      <li class="nav-item px-2">
        <span>New to ZippyCrowd?</span>
      </li>

      <li class="nav-item px-2">
        <button class="btn btn-outline-primary">GET STARTED</button>
      </li>

      <li class="nav-item px-1">
        <span>or</span>
      </li>

      <li class="nav-item px-2">
        <button class="btn btn-primary">LOG IN</button>
      </li>

      <li class="nav-item px-2">
        <span class="toggler-icon-container align-middle px-1 py-1">
          <span class="navbar-toggler-icon"></span>
        </span>
      </li>

    </ul>

  </div><!-- END .collapse -->

</nav>

