$gray: lighten(black, 80%);
$purple: #604c8d;
$teal: #46c8a5;

$dark-purple: darken($purple, 15%);
$light-purple: lighten(#262034, 40%);
$deep-purple: darken($purple, 20%);

$light-blue: #f0f5f9;
$blue-smoke: #fafcfe;


