$gray: lighten(black, 50%);
$purple: #604c8d;

$dark-purple: darken($purple, 15%);
$light-purple: lighten(#262034, 28%);
$deep-purple: darken($purple, 20%);

$light-blue: #f0f5f9;
$blue-smoke: #fafcfe;
