@import '../node_modules/bootstrap/scss/bootstrap.scss';
$types: Regular, Light, Bold;


/* Font Family */
@each $type in $types {
  $name: if($type == Bold, SemiBold, $type);

  @font-face {
    font-family: "Nunito-#{$type}";
    src: url("/src/assets/fonts/Nunito/Nunito-#{$name}.ttf");
  }
}

* { font-family: 'Nunito-Regular', sans-serif; }


/* Responsive Typography */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(s) {
  html {
    font-size: 0.7rem;
  }
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.0rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}
