body {
  background: $blue-smoke;
}

// Toggle Switch
.toggle-switch {
  span {
    color: $light-purple;
    font-weight: bolder;
    font-size: 14px;
  }
}

.switch.switch-small {
  height: 25px;
  min-width: 40px;
}

.switch.switch-small small {
  width: 25px;
  height: 25px;
  right: calc(100% - 23px);
}
