body {
  background: $blue-smoke;
}

// Toggle Switch
.toggle-switch {
  small {
    font-size: 8px;
    color: $light-purple;
    font-weight: bolder;
  }
}

.switch.switch-small {
  height: 14px;
  min-width: 25px;
}

.switch.switch-small small {
  width: 15px;
  height: 15px;
  right: calc(100% - 15px);
}
