@import './base/colors';
@import './helpers/placeholders';


input.form-control {
  @extend %shadow-bordered-input;

  &:focus { @extend %box-shadow-default-gray; }

  &.lg {
    @extend %height-70;
    font-size: 1.0em;
  }
}

.input-group {

  @extend %shadow-bordered-input;

  input:focus { box-shadow: unset; }

  input { box-shadow: unset; }

  .input-group-text {
    @extend %height-70;
    @extend %border-radius-35;
    @extend %transparent-border;
  }
}



