@import 'main';

.container { height: 90vh; }


.headline {
  h1 {
    font-family: $font-nunito-bold;
    font-weight: bolder;
    font-size: 3.0em;
  }

  p {
    font-size: 1.3em;
    border-left: 3px solid $teal !important;
    margin-left: 3px;
  }
}

.media {
  width: 320px;
  max-width: 600px;

  span {
    border-radius: 20px;
    height: 40px;
    width: 40px;

    img { width: 30px; }
  }


  &-body {
    border-radius: 15px;
    font-size: 18px;
    color: $light-purple;
  }
}

