@import 'main';

.container { height: 90vh; }


.headline {
  h1 {
    font-family: $font-nunito-bold;
    font-weight: bolder;
    font-size: 3.0em;
  }

  p {
    font-size: 1.3em;
    border-left: 3px solid $teal !important;
    margin-left: 3px;
  }
}

.media {

  @media (max-width: 575px) {
    & {
      width: 200px !important;
    }

    span {
      height: unset !important;
      width: unset !important;

      img {
        width: 20px !important;
        height: 20px;
      }
    }
  }

  width: 320px;
  max-width: 600px;

  span {
    border-radius: 20px;
    height: 40px;
    width: 40px;

    img { width: 30px; }
  }


  &-body {
    border-radius: 15px;
    font-size: 0.9em;
    color: $light-purple;
  }
}

